
/* holds the color vaiables */
:root {
    --purple: purple;
    --lightpurple: rgba(239, 102, 239, 0.677);
}

/* will help control what is being schown on the screen */
.none {
    display:none;
}

/* all anchor elements */
a {
    text-decoration: none;
    color: var(--purple);
}

/* sepcically target the goback button on the highscores HTML */
#goback {
    color: white;
}


/* all a hover elements */
a:hover {
    color: var(--lightpurple)
}

/* target the timer in the top right corner */
#time{
    position: absolute;
    top:0;
    right:3%;
}

/* this makes each section of the wepage positioned absolutely so they don't position themsleves realtive to one another */
section {
    margin-top: 5%;
    position:absolute;
    height: 70%;
    width: 50%;
    margin-left: 25%;
    text-align: left;
}

h1 {
    font-size: 1.5rem;
}
/* targets all button elements */
button {
    font-size: 1.05rem;
    display: block;
    margin-bottom: 1%;
    color: white;
    background-color: var(--purple);
    box-shadow: none;
    border: none;
    border-radius: 4px;
}

/* sets the volor of all button hover */
button:hover {
    background-color: var(--lightpurple);
}


/* add the black underline in some of the quesitons */
span{
    text-decoration: underline;
}


/* makes the sumbit button inline with the text box */
.submit{
  display:inline;  
}

/* overrides the anchor element so the text color is white */
#submit{
    
    color:white
}


/* sizes up the font of the final score */
#final-score {
    font-size: 1.25rem;
}

/* center the title of the Highscore HTML */
#hsTitle {
    text-align: center;
}
/* Makes the info on the highscore HTML flex and centers it on the screen  */
.scoreEl{
    width: 100%;
    display: inline-flex;
    margin-left: 40%;
}

/* targets the initals input */
.initials-display {
    width: 2.5vw;
    margin-top: 3%;
}

/* targets the score calculated */
.score-display {
    margin-top: 3%;
    width: 1.5vw;

   
}

/* positions the buttons on the highscores HTML page */
.hs-buttons{
    width: 100%;
    display:inline-flex;
    margin-top: 5%;
    margin-left:38%; 
    gap: 5%
}

